@font-face{
    font-family: 'hanyizhuzimutouren';
    src : url('../fonts/hanyizhuzimutouren.ttf');
}

/*导航条部分*/
.nav{
	height: 54px;
	border-bottom: 1px solid rgba(30,35,42,.06);
    box-shadow: 0 1px 3px 0 rgba(0,34,77,.05);
    margin-bottom: 14px;
}

.nav-wrap{
	width: 960px;
	height: 50px;
	margin: 0 auto;
}

/*logo部分*/
.logo{
	float: left;
	font-size: 38px;
	font-family: 'hanyizhuzimutouren';
	color: #0F88EB;
}


/*搜索区域部分*/
.search-area{
	float: left;
	position: relative;
	width: 367px;
	color: #B2BED2;
	font-size: 13px;
	margin: 5px 0 0 12px;
}

.nav .search-area input{
	float: left;
	width: 314px;
	height: 34px;
	padding-left: 10px;
	background-color: #F7F8FA;
	border: 1px solid #e7eaf1;
    border-radius: 3px;
}

.search-input::placeholder{
	font-size: 15px;
}

.search-button{
	position: relative;
	left: -42px;
	width: 40px;
	height: 34px;
	background-color: #F7F8FA;
	cursor: pointer;
	color: #8590A6;
	margin-top: 1px;
	margin-bottom: 1px;
}

/*顶部导航条部分*/
.top-nav{
	float: left;
	position: relative;
	margin-left: 20px;
}

.top-nav ul li{
	float: left;
	margin-top: 4px;
}

.top-nav ul li a{
	width: 54px;
    height: 45px;
    line-height: 40px;
    text-align: center;
    display: block;
    color: #788295;
    font-size: 17px;
}


.top-nav ul li a:hover{
	text-decoration: none;
}

.top-nav .notice{
    position: absolute;
    top: 6px;
    right: 6px;
    width: 16px;
    height: 16px;
    border-radius: 9px;
    background-color: #bf1031;
    color: #fff;
    line-height: 16px;
    text-align: center;
    font-size: 8px;
    cursor: pointer;
}

/*顶部导航条右侧*/
.nav-profile{
	float: right;
	width: 136px;
	height: 45px;
	margin-left: 20px;
	line-height: 42px;
}

.nav-profile a.profile-link{
	display: block;
	padding: 0 10px;
	width: 200px;
	height: 45px;
	color: #6C6C6C;
}

.nav-profile a.profile-link:hover{
	display: block;
	background-color: #FFFFFF;
}

.nav-profile a.profile-link img{
	width: 32px;
	height: 32px;
    border-radius: 50px;
	margin-right: 5px;
	position: relative;
    top: 8px;
}

.nav-profile ul.nav-dropdown{
	display: none;
	position: relative;
	border: 1px solid #BFBFBF;
	border-radius: 8px;
}

.nav-profile ul.nav-dropdown li a{
	display: block;
	width: 100px;
	height: 39px;
	padding: 0 17px;
	color: #333333;
}

.nav-profile ul.nav-dropdown li a:hover{
	background-color: #D2DFF5;
}


.ask-question{
    float: left;
    width: 50px;
    height: 34px;
    margin-top: 5px;
    border: 1px solid #1E86DB;
    border-radius: 4px;
    background-color: #2995ED;
    color: #fff;
    font-size: 14px;
    text-align: center;
    text-shadow: 0 1px 1px rgba(0,0,0,.12);
    outline: 0;
    cursor: pointer;
}


.sprite-search{
	display: inline-block;
	background-image: url(../image/search.png);
	background-repeat:no-repeat; 
	background-size:100% 100%;
	-moz-background-size:100% 100%;
    width: 20px;
    height: 20px;
}

.sprite-nav-profile{
    display: inline-block;
    background-image: url(../image/man.png);
	background-repeat:no-repeat; 
	background-size:100% 100%;
	-moz-background-size:100% 100%;
    width: 20px;
    height: 20px;
    vertical-align: -7px;
}

.sprite-nav-letter{
    display: inline-block;
    background-image: url(../image/search.png);
	background-repeat:no-repeat; 
	background-size:100% 100%;
	-moz-background-size:100% 100%;
    width: 20px;
    height: 20px;
    vertical-align: -7px;
}
.sprite-nav-setting{
    display: inline-block;
    background-image: url(../image/setting.png);
	background-repeat:no-repeat; 
	background-size:100% 100%;
	-moz-background-size:100% 100%;
    width: 20px;
    height: 20px;
    vertical-align: -7px;
}
.sprite-nav-logout{
    display: inline-block;
    background-image: url(../image/logout.png);
	background-repeat:no-repeat; 
	background-size:100% 100%;
	-moz-background-size:100% 100%;
    width: 20px;
    height: 20px;
    vertical-align: -7px;
}










