.profile-wrap {
	width: 1000px;
	margin: 0 auto;
}

/*profile的头部*/
.profile-header {
	width: 998px;
	padding-bottom: 20px;
	border: 1px solid #e7eaf1;
	border-radius: 2px;
	box-shadow: 0 1px 3px rgba(0, 37, 55, .05);
	box-sizing: border-box;
	margin-bottom: 14px;
}

.profile-header .profile-info {
	position: relative;
	width: 760px;
	padding-left: 180px;
	margin: 0 auto;
}

.profile-header .profile-info .info-title {
	padding: 16px 0;
}

.profile-header .profile-info .info-title span:nth-child(1) {
	font-size: 20px;
	font-weight: 500;
	line-height: 30px;
	color: #404040;
}

.profile-header .profile-info .info-title span:nth-child(2) {
	margin-left: 12px;
	font-size: 16px;
}

.profile-header .profile-info .info-item {
	overflow: hidden;
	font-size: 14px;
	line-height: 30px;
	color: #404040;
}

.profile-header .profile-info .info-item .item-key {
	float: left;
	width: 100px;
}

.profile-header .profile-info .info-item .item-value {
	float: left;
}

/*用户头像*/
.profile-header .profile-info .profile-avatar {
	position: absolute;
	top: 35px;
	left: 0;
}

.profile-header .profile-info .profile-avatar img {
	width: 140px;
	height: 140px;
}

.profile-header .profile-info .two-button {
	position: absolute;
	right: 0;
	bottom: 0;
}

.profile-header .profile-info .two-button .unfollow-button {
	width: 96px;
	height: 34px;
	padding: 0 16px;
	margin-right: 16px;
	margin-top: 8px;
	background-color: #c3ccd9;
	border: 1px solid #c3ccd9;
	color: white;
	font-size: 14px;
	line-height: 32px;
	text-align: center;
	border-radius: 3px;
	cursor: pointer;
	display: none;
}

.profile-header .profile-info .two-button .follow-button {
	width: 96px;
	height: 34px;
	margin-right: 16px;
	margin-top: 8px;
	background-color: #0f88eb;
	border: 1px solid #0f88eb;
	color: white;
	font-size: 14px;
	line-height: 32px;
	text-align: center;
	border-radius: 3px;
	cursor: pointer;
	display: none;
}

.profile-header .profile-info .two-button .private-message-button {
	width: 96px;
	height: 34px;
	padding: 0 16px;
	border: 1px solid #ccd8e1;
	background-color: white;
	color: #8590a6;
	font-size: 14px;
	line-height: 32px;
	text-align: center;
	border-radius: 3px;
}

/*主体部分*/
.main {
	overflow: hidden;
}

.content {
	float: left;
	width: 688px;
	border: 1px solid #e7eaf1;
	border-radius: 2px;
	margin-right: 14px;
	margin-bottom: 14px;
	box-shadow: 0 1px 3px rgba(0, 37, 55, .05);
	box-sizing: border-box;
}

/*当前活跃面板样式*/
.tab-header-active {
	border-bottom: 3px solid #0f88eb;
	font-weight: bold;
}

.content ul.tab-header {
	height: 55px;
	padding: 0 4px;
	border-bottom: 1px solid #f0f2f7;
}

.content ul.tab-header li {
	float: left;
	padding: 0 20px;
}

.content ul.tab-header li a {
	display: block;
	font-size: 16px;
	line-height: 51px;
	color: #404040;
	cursor: pointer;
}

.content ul.tab-header li a span {
	margin-left: 6px;
	font-size: 14px;
	font-weight: 300;
	color: #a1aebf;
}

/*右边侧栏部分*/
.sidebar {
	float: left;
	width: 294px;
	box-shadow: 0 1px 3px rgba(0, 37, 55, .05);
	box-sizing: border-box;
}

/*个人成就*/
.sidebar .profile-achieve {
	border: 1px solid #e7eaf1;
	border-radius: 2px;
	margin-bottom: 14px;
}

.sidebar .profile-achieve h3 {
	padding-left: 14px;
	border-bottom: 1px solid #e7eaf1;
	line-height: 55px;
	font-size: 15px;
	color: #555;
}

.sidebar .profile-achieve .achieve-info {
	height: 99px;
	padding: 17px 0 17px 16px;
}

.sidebar .profile-achieve .achieve-info p:nth-child(1) {
	font-size: 15px;
	line-height: 34px;
	color: #555;
}

.sidebar .profile-achieve .achieve-info p:nth-child(2) {
	font-size: 14px;
	line-height: 30px;
	color: #8590a6;
}

.sprite-thumb {
	display: inline-block;
	background-image: url(../image/sprite-vote.png);
	background-position: -10px -15px;
	width: 16px;
	height: 15px;
	vertical-align: -2px;
}

/*footer部分*/
.footer {
	padding-top: 16px;
	padding-left: 3px;
	padding-bottom: 14px;
}

.footer, .footer a {
	/*display: inline-block;*/
	line-height: 24px;
	color: #666;
	font-size: 13px;
}

.footer a:hover {
	text-decoration: underline;
}

/*回答的面板*/
.answer-tab {
	padding: 0 24px;
}

.answer-tab .tab-title {
	position: relative;
	padding: 20px 0 30px;
	border-bottom: 1px solid #f0f2f7;
}

.answer-tab .tab-title h3 {
	float: left;
	font-size: 15px;
	font-weight: 700;
	color: #404040;
}

.answer-tab .answer-list ul li {
	position: relative;
	padding: 20px 0 10px;
	border-bottom: 1px solid #f0f2f7;
}

.answer-tab .answer-list ul li .answer-title a {
	font-size: 18px;
	color: #404040;
}

.answer-tab .answer-list ul li .answer-content {
	padding-top: 3px;
	font-size: 13px;
	line-height: 27px;
	color: #404040;
}

.answer-tab .answer-list ul li .answer-content a {
	margin-top: 8px;
	font-size: 14px;
	color: #8590a6;
}

.answer-tab .answer-list ul li .answer-content a:hover {
	text-decoration: underline;
}

/*可对回答进行的操作*/
.answer-tab .answer-list ul li .answer-action {
	padding: 8px 0;
	overflow: hidden;
}

.answer-tab .answer-list ul li .answer-action .other-action {
	float: left;
	position: relative;
	top: 6px;
	left: 0;
}

.answer-tab .answer-list ul li .answer-action .other-action a {
	margin-left: 24px;
	font-size: 14px;
	background-color: white;
	color: #7a8599;
}

.answer-tab .answer-list ul li .answer-action .other-action a i {
	position: relative;
	top: 2px;
}

/*问题的面板*/
.question-tab {
	padding: 0 24px;
}

.question-tab .tab-title {
	position: relative;
	padding: 20px 0 30px;
	border-bottom: 1px solid #f0f2f7;
}

.question-tab .tab-title h3 {
	float: left;
	font-size: 15px;
	font-weight: 700;
	color: #404040;
}

.question-tab .question-list ul li {
	position: relative;
	padding: 20px 0 10px;
	border-bottom: 1px solid #f0f2f7;
}

.question-tab .question-list ul li .question-title a {
	font-size: 18px;
	color: #404040;
}

.question-tab .question-list ul li .question-meta {
	margin-top: 8px;
	font-size: 14px;
	color: #8590a6;
}



/*新点赞按钮*/
.votebar {
	float: left;
}

.votebar button {
	height: 34px;
	padding: 0 10px;
	background-color: #ebf3fb;
	color: #2d84cc;
	font-size: 14px;
}

.votebar .vote-up i {
	display: inline-block;
	width: 0;
	height: 0;
	border: 6px solid #ebf3fb;
	border-bottom: 6px solid #2d84cc;
	margin-right: 8px;
	position: relative;
	bottom: 2px;
	left: 0;
}

.votebar .vote-down i {
	display: inline-block;
	width: 0;
	height: 0;
	border: 6px solid #ebf3fb;
	border-top: 6px solid #2d84cc;
	position: relative;
	top: 4px;
	left: 0;
}