<#setting number_format="#">
<#assign base = request.contextPath/>
<!DOCTYPE html>
<html>
<head>
<title>个人信息</title>
<link rel="stylesheet" type="text/css" href="${base}/css/base.css">
<link rel="stylesheet" type="text/css" href="${base}/css/nav.css">
<link rel="stylesheet" type="text/css" href="${base}/css/profile.css">
</head>
<body>
<#include "nav.html" />
<div class="profile-wrap">
	<div class="profile-header">
		<div class="profile-info">
			<div class="profile-avatar">
				<img src="${user.avatarUrl}">
			</div>
			<div class="two-button" id="isSelf" >
				<a href="${base}/setting" class="follow-button">编辑信息</a>
				<button id="followUserButton" class="follow-button">关注</button>
				<button id="unfollowUserButton" class="unfollow-button">取消关注</button>
			</div>
			<div class="info-title">
				<span id="userId" data-id="${user.userId}">${user.username}</span>
				<span>${user.simpleDesc}</span>
			</div>
			<#if user.position??>
			<div class="info-item">
				<span class="item-key">居住地</span>
				<div class="item-value">
					${user.position}
				</div>
			</div>
			</#if>
			<#if user.industry??>
			<div class="info-item">
				<span class="item-key">所在行业</span>
				<div class="item-value">
					${user.industry}
				</div>
			</div>
			</#if>
			<#if user.career??>
			<div class="info-item">
				<span class="item-key">职业经历</span>
				<div class="item-value">
					${user.career}
				</div>
			</div>
			</#if>
			<#if user.education??>
			<div class="info-item">
				<span class="item-key">教育背景</span>
				<div class="item-value">
					${user.education}
				</div>
			</div>
			</#if>
			<#if user.fulldesc??>
			<div class="info-item">
				<span class="item-key">个人简介</span>
				<div class="item-value">
					${user.fullDesc}
				</div>
			</div>
			</#if>
		</div>
	</div>
	<div class="main">
		<div class="content" id="content">
			<ul class="tab-header">
				<li><a href="${base}/profile/${user.userId}" id="tab-header-answer" class="tab-header-active">回答</a></li>
				<li><a href="${base}/profileQuestion/${user.userId}" id="tab-header-question">提问</a></li>
				<li><a href="${base}/profileCollection/${user.userId}" id="tab-header-collection">收藏</a></li>
				<li><a href="${base}/profileFollowPeople/${user.userId}" id="tab-header-follow">关注</a></li>
			</ul>
			<div class="answer-tab">
				<div class="tab-title">
					<h3>他的回答</h3>
				</div>
				<div class="answer-list" id="answerList">
					<ul>
						<#list pageBean.list as answer>
						<li>
						<div class="answer-title">
							<a href="${base}/question/${answer.question.questionId}#answer-${answer.answerId}">${answer.question.questionTitle}</a>
						</div>
						<div class="answer-content">
							<div>
								${answer.answerContent}
							</div>
							<div>
								<a href="#">发布于 ${answer.createTime?number_to_date}</a>
							</div>
						</div>
						<div class="answer-action">
							<div class="votebar">
								<button class="vote-up">
								<i></i><span>${answer.likedCount}</span>
								</button>
							</div>
							<div class="other-action">
								<a href="${base}/question/${answer.question.questionId}#answer-${answer.answerId}" class="comment"><i class="sprite-comment"></i> 查看评论</a><a href="${base}/question/${answer.question.questionId}#answer-${answer.answerId}" class="collect"><i class="sprite-collect"></i> 收藏</a>
							</div>
						</div>
						</li>
						</#list>
					</ul>
					
					
					
				</div>
			</div>
		</div>
		<div class="sidebar">
			<div class="profile-achieve">
				<h3>个人成就</h3>
				<div class="achieve-info">
					<p>
						<i class="sprite-thumb"></i>&nbsp;&nbsp;&nbsp;获得<span>
								${user.likedCount} 
						</span>次赞同
					</p>
					<p>
							获得
						<span> ${user.collectedCount} </span>次收藏
					</p>
				</div>
			</div>
			<div class="footer">
				<a href="#">建议反馈</a><span> • </span><a href="#">联系我们</a>
				<div>
				</div>
				<span>@ 2017 闻否</span>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript" src="http://apps.bdimg.com/libs/jquery/1.11.3/jquery.min.js"></script>
<script type="text/javascript" src="${base}/js/profile.js"></script>

</body>
</html>