<#assign base = request.contextPath/>
<base id="baseUrl" href="${base}/"/>
<!DOCTYPE html>
<html>
<head>
	<title>闻否 - 与世界分享你刚编的的知识、经验和见解</title>
	<link rel="stylesheet" type="text/css" href="${base}/css/base.css">
	<link rel="stylesheet" type="text/css" href="${base}/css/login.css">
</head>
<body>
	<div class="wrap" style="">
		<header>
			<h1>闻否</h1>
			<p>与世界分享你刚编的的知识、经验和见解</p>
		</header>

		<section>
			<ul>
				<li id="registerHeader">注册</li>
				<li id="loginHeader" class="active-header">登录</li>
			</ul>
			<div style="display: none;">
				<form id="registerForm">
					<div class="inputs">
                        <input type="text" name="username" id="registerInputUsername" placeholder="姓名">
                        
						<input type="text" name="email" id="registerInputEmail" placeholder="邮箱">
						
						<input type="password" name="password" id="registerInputPassword" placeholder="密码（不少于6位）">
						<span id="regi-username-error"></span>
						<span id="regi-email-error"></span>
                        <span id="regi-password-error"></span>
					</div>

				</form>
                <button id="registerButton" type="button">注册</button>
			</div>
			<div>
				<form id="loginForm">
					<div class="inputs">
						<input type="text" name="email" id="loginInputEmail" placeholder="邮箱">
						
						<input type="password" name="password" id="loginInputPassword" placeholder="密码">
						<span id="login-email-error"></span>
						<span id="login-password-error"></span>
					</div>
					<button id="loginButton" type="button">登录</button>
				</form>
			</div>
		</section>
	</div>
	

<script type="text/javascript" src="http://apps.bdimg.com/libs/jquery/1.11.3/jquery.min.js"></script>
<script type="text/javascript" src="${base}/js/login.js"></script>

</body>
</html>






