<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yongheng.wenfou.dao.QuestionMapper">

	<insert id="insertQuestion">
		<selectKey resultType="int" order="AFTER" keyProperty="questionId">
			select last_insert_id() as questionId
		</selectKey>
		insert into
		question(question_title,question_content,topic_kv_list,create_time,user_id)
		values(#{questionTitle},#{questionContent},#{topicKvList},#{createTime},#{userId})
	</insert>

	<insert id="insertIntoQuestionTopic">
		insert into question_topic(question_id,topic_id)
		values(#{questionId},#{topicId})
	</insert>


	<select id="selectQuestionByQuestionId" resultType="Question">
		select * from
		question where question_id = #{questionId}
	</select>

	<select id="selectQuestionCountByUserId" resultType="int">
		select
		count(*) from question where user_id = #{userId}
	</select>

	<select id="listQuestionByUserId" resultType="Question">
		select * from
		question
		where user_id = #{userId}
		limit #{offset},#{limit}
	</select>

	<select id="listQuestionByPage" resultType="Question">
		select * 
		from question
		order by create_time desc
		limit #{offset},#{limit}
	</select>

	<select id="selectQuestionCountByTopicId" resultType="int">
		select
		count(*) from question_topic
		where topic_id = #{topicId}
	</select>

	<select id="listQuestionIdByTopicId" resultType="int">
		select
		question_id from question_topic
		where topic_id = #{topicId}
		order by
		qt_id desc
		limit #{offset},#{limit}
	</select>

	<select id="selectQuestionByAnswerId" resultType="Question">
		select * from
		question
		where question_id = (select question_id from answer where
		answer_id =
		#{answerId})
	</select>
</mapper>









